$primary: #0164F7;
$black: #111111;
$gray: #5B5353;
$bg-color: $black;
$font-family-sans-serif: "Noto Sans TC", "PingFangTC-Regular", Verdana, "Microsoft JhengHei", "微軟正黑體", Arial, sans-serif !default;
$grid-gutter-width: 3.0rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
