h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

:root {
    --bs-emphasis-color: #FFFFFF;
    --bs-body-bg: transparent;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

a {
    color: $black;

    &:focus,
    &:hover {
        color: $black;
        text-decoration: none;
    }
}

html {
    font-size: 62.5%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    color: $black;
    font-size: 1.6rem;
    font-family: $font-family-sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background: $bg-color;
    height: 100%;
    margin: 0;

    &.hidebar {
        overflow: hidden;
    }
}

.font-noto {
    font-family: "Noto Sans TC", sans-serif;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
}

#container {
    position: relative;
    z-index: 2;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#main {
    overflow: unset;
    flex-grow: 1;
}

.panel-wrapper{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #000000;
}

.section-header{
    strong{
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 100%;
        padding-left: 15px;
        margin-bottom: -5px;
        display: block;
    }
}

.divider{
    align-items: flex-start;
    display: flex;
    .icon{
        width: 16px;
    }
    span{
        flex: 1;
        height: 1px;
        margin-top: 14px;
        background-color: #FFFFFF;
        display: block;
    }
}

.close-btn{
    color: #FFFFFF;
    font-size: 2.0rem;
    font-weight: 900;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 9995;
    border: none;
    background: transparent;
    transition: color .3s ease;
    &:hover{
        color: $primary;
    }
}

.table{
    color: #FFFFFF;
    margin-bottom: 100px;
    th{
        white-space: nowrap;
    }
    tr:nth-child(odd) td{
        background-color: rgba(#D9D9D9, .02);
    }
}

.switch-item {
    position: relative;
    margin-top: 4px;
    input[type=checkbox]{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    label {
        text-indent: -9999px;
        cursor: pointer;
        width: 48px;
        height: 20px;
        background: $black;
        display: block;
        border-radius: 10px;
        position: relative;
    }

    label:before{
        content: "關";
        position: absolute;
        left: 5px;
        top: 2px;
        color: #FFFFFF;
        font-size: 1.5rem;
        text-indent: 0px;
        font-weight: 500;
        line-height: 100%;
        display: block;
    }

    label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: calc(100% - 5px);
        transform: translateX(-100%);
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 50%;
        transition: 0.3s;
    }

    input:checked + label {
        background: $primary;
    }

    input:checked + label:after {
        left: 20px;
    }

    input:checked + label:before {
        content: "開";
        left: 25px;
    }
}

.panel-modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9990;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
}

.badge{
    --bs-badge-font-size: 1.7rem;
}
