.account-panel{
    color: #FFFFFF;
    width: 90%;
    max-width: 850px;
    height: 80vh;
    border-radius: 10px;
    padding: 30px;
    background-color: $black;
}

.modal-body{
    height: 100%;
    flex-direction: column;
    display: flex;
}

.modal-content{
    width: calc(100% + 60px);
    margin: 25px -30px 0 -30px;
    padding: 0 30px;
    flex: 1;
    overflow: auto;
}

.modal-footer{
    justify-content: center;
    button{
        width: auto;
        min-width: 80px;
        line-height: 100%;
        padding: 0 10px;
        border-radius: 5px;
    }
}

.account-btn{
    color: #FFFFFF;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    background: transparent;
    transition: all .3s ease;
    &:hover{
        color: $primary;
    }
}

.account-select{
    color: #FFFFFF;
    background: transparent;
    border: none;
}