.setting-panel{
    color: #FFFFFF;
    width: 95%;
    height: 80vh;
    background-color: $black;
    border-radius: 10px;
    padding: 30px;
}

.system-group{
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.system-label{
    color: #FFFFFF;
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 500;
    padding-right: 10px;
    &.size-lg{
        width: 130px;
    }
    &.size-md{
        width: 90px;
        text-align: right;
    }
    &.label-title{
        margin-top: 7px;
    }
}

.system-control{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%;
    padding: 0 5px;
    height: 30px;
    border: none;
    background-color: rgba(#6D6D6D, .2);
    flex: 1;
    max-width: 200px;
    &:focus{
        color: $black;
        background-color: #FFFFFF;
        outline: none;
    }
}

.system-radios{
    margin-top: 30px;
}

.system-radio-group{
    grid-template-columns: 140px 140px 140px;
    gap: 18px;
    display: grid;
}

.radio-group{
    position: relative;
    label{
        background-color: #FF0000;
    }
    input{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

.checkbox-btn{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 100%;
    background: #2d2d2e;
    cursor: pointer;
    // box-shadow:
    //     3px 5px 7px rgba(0,0,0, .25), 
    //     inset -2px -2px 1px rgba(255,255,255, .2);
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateY(-5px);
    transition: transform .3s;
    transition-timing-function: cubic-bezier(0.68, -0.9, 0.27, 2);
    border: none;
}

input:checked ~ .checkbox-btn, .checkbox-btn.active{
    background-color: $primary;
    transform: translateY(0px);
}

.setting-item{
    flex-wrap: wrap;
    display: flex;
}

.system-value{
    .row{
        --bs-gutter-x: 40px;
    }
    .system-control{
        max-width: 60px;
    }
}

.system-action{
    width: 80px;
    margin: 0 0 0 auto;
    .h3{
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 100%;
        margin-bottom: 10px;
    }
    .system-action-btn{
        height: 30px;
        border: none;
        background: transparent;
        margin: 0 2px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }
}

.table-check{
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    input{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        border: none;
        background: transparent;
    }
    input:checked ~ svg{
        fill: #0164F7;
    }
}

.table-input{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%;
    padding: 5px 0px;
    border: none;
    background: transparent;
    &:focus{
        color: $black;
        background: #FFFFFF;
    }
    &::placeholder {
        color: rgba(255, 255, 255, .5);
        opacity: 1;
    }
    &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .5);
    }
    &:-moz-placeholder {
        color: rgba(255, 255, 255, .5);
        opacity: 1;
    } 
    &::-moz-placeholder {
        color: rgba(255, 255, 255, .5);
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: rgba(255, 255, 255, .5);
    }
}

.select-wrap{
    position: relative;
    min-width: 138px;
}

.select-title{
    width: 100%;
    color: #FFFFFF;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    padding: 0;
    text-align: left;
    align-items: center;
    display: flex;
    span{
        flex: 1;
    }
    .arrow{
        padding: 0 10px;
    }
}

.select-dropdown{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #4e4e4d;
    border-radius: 5px;
    display: none;
    &.show{
        display: block;
    }
}

.select-option{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 160%;
    padding: 3px 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    border: none;
    background: transparent;
    transition: all .3s ease;
    display: block;
    &:hover{
        font-weight: 900;
        background-color: #a1a1a0;
    }
    input{
        width: 100%;
    }
}
