---
import { SITE } from "src/config";
import "../stylesheet/style.scss";
import SetMeta from "@partials/SetMeta.astro";

const { title, pageDesc, keyword, ogImage, pageType, classname, activeNav, current } = Astro.props;
export interface Props {
	title?: string;
	pageDesc?: string;
	pageType?: string
	keyword?: string;
	ogImage?: string;
	classname?: string;
	activeNav?: string;
	current?: string;
}
---
<!DOCTYPE html>
<html lang={ "zh-Hant" } itemscope itemtype="http://schema.org/WebSite">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">

		<meta name="generator" content={Astro.generator} />
		<SetMeta title={ title } pageDesc={ pageDesc } pageType={ pageType } keyword={ keyword } ogImage={ ogImage }  />
	</head>
	<body class="panel-wrapper">
		<slot />
	</body>
</html>
<script>
	loadFont(
		'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap'
	)

	function loadFont(url) {
		// the 'fetch' equivalent has caching issues
		const xhr = new XMLHttpRequest()
		xhr.open('GET', url, true)
		xhr.onreadystatechange = function () {
			if (xhr.readyState == 4 && xhr.status == 200) {
				let css = xhr.responseText
				css = css.replace(/}/g, 'font-display: swap; }')

				const head = document.getElementsByTagName('head')[0]
				const style = document.createElement('style')
				style.appendChild(document.createTextNode(css))
				head.appendChild(style)
			}
		}
		xhr.send()
	}
</script>